<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block style %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

	</body>
	{% block footer %}{% endblock %}
</html>
